:root{
    --primary-light-green : #5FE19B;
    --primary-super-green : #4CC986;
    --secondary-cool-iris : #5F81FB;
    --secondary-lapis-lazuli : #1245C9;
    --secondary-deep-blue : #06207B;
    --secondary-coral-reef : #FB5F5F;
    --secondary-hey-honey : #FFDC22;
    --neutral-black: #151515;
    --neutral-grayDark: #303030;
    --neutral-gray: #515151;
    --neutral-grayLight: #939393;
    --neutral-white: #FFFFFF;
    --font-family: "Exo", sans-serif;
}
#root{
    display: flex;
}