.sidebar.dark {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 202px;
  padding: 20px;
}

.sidebar.dark ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar.dark li {
  margin: 0;
  padding: 10px 0;
}

.sidebar.dark a {
  text-decoration: none;
  color: #FFF;
}

.sidebar.dark .main-item a {
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  left: 20px;
  right: 27px;
}

.sidebar.dark .main-item a:hover {
  color: #5FE19B;
}

.sidebar.dark .sub-menu {
  padding-left: 0;
}

.sidebar.dark .sub-menu li {
  margin: 5px 0;
}

.sidebar.dark .sub-menu a {
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: 18px;
  right: 24px;
  display: flex;
  align-items: center;
  color: #FFF;
}

.sidebar.dark .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 5px;
}