.login-screen {
  background: url('../../assets/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  
  
  
}
.texto-blanco{
  color:#FFF;
}
.conteiner-login {
  width: 462px;
  height: 702px;
  border-radius: 1rem;
  flex-shrink: 0; 
  background-color: #16161670;
  background-blend-mode: lighten;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 1rem;
 
}
.children-conteiner-login {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 1rem;
}

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.line {
  width: 147.441px;
  height: 2.074px;
  background-color: #FFF;
  flex-shrink: 0;
}

.or-text {
  margin: 0 10px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}




/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1439px) {
  .login-screen {
    display: flex;
    justify-content:center; 
    align-items: center;

  }
  .conteiner-login {
    width: 462px;
    height: 702px;
    max-width: 600px;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .conteiner-login {
    width: 95%;
    padding: 1rem;
  }

  .or-container {
    flex-direction: column;
    gap: 10px;
  }

  .line {
    width: 100%;
  }

  .or-text {
    margin: 10px 0;
  }
  .children-conteiner-login {
    gap: 0.2rem;
  }
  
}