.principal-screen{
    background-color: black;
    width: 100vw;
    height:100vh;

}
.conteiner-principal{
    margin-top: 80px;
}

.conteiner-seccond-upper-bar{
    width:100vw;
}

.header-conteiner{
    margin-left: 2.8rem;
}
.header-title {
    flex-shrink: 0;
    color: white;
}

.header-description {
    color: white;
}


.gradient{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    width: 100vw;
    height: 108px;
}


